{# templates/base.html.twig #}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Recherche de station{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <style>
            .navbar-brand img {
                max-width: 200px;  /* Augmentation de la taille du logo */
                max-height: 150px;
            }
            /* Supprimer la bordure grise et la séparation */
            nav {
                background-color: transparent;  /* Suppression de la bande grise */
                border: none;  /* Suppression des bordures de la barre de navigation */
            }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar">
            <a class="navbar-brand" href="/">
                <img src="{{ asset('images/ratp-logo.png') }}" alt="RATP logo">
            </a>
        </nav>

        <div class="container mt-5">
            {% block body %}{% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
